.git
.idea
.project
.settings
.DS_Store
Thumbs.db
.deploy*/

*~
*.diff
*.patch
*.log
*.swp
*.tmp

coverage/
runtime/
log/
tmp/
output/
output.tar.gz
bower_components
node_modules
npm-debug.log
.remote-sync.json
.sftp-config.json
nohup.out
picasso.json
